.chat-input-container{
  display: flex;
  margin-bottom: 12px;
}
.button{
  padding: 12px 20px;
  margin: 4px 12px;
  border:none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer; 
}
.send-button{
  background-color: rgb(25, 135, 84);
  color: white;
}
.clear-button{
  background-color: rgb(204, 204, 204);
  color: rgb(0, 0, 0); 
  margin-left: -4px;
}
.text-box{
  padding: 12px 16px;
  border-radius: 10px;
  margin: 4px 0px 4px 12px;
  border-width: 1px;
  font-size: 13px;
  flex-grow: 1;
}
.loading-spinner {
  height: 40px;
  margin: -15px;
}
.chat-message-user{
  display: flex;
  justify-content: flex-end;
  align-items: start;
  margin: 0px 12px;
}
.chat-message-robot{
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin: 0px 12px;
}
.chat-message-text{
  background-color: rgb(238,238,238);
  padding: 10px 20px;
  margin: 4px 12px;
  border-radius: 12px; 
  max-width: 300px;
}
.chat-message-profile{
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
}
.time{
  font-size: 10px;
  margin: 0px;
  margin-top: 4px;
  color: gray;
  font-family:Arial, Helvetica, sans-serif;
}
.time-user {
  text-align: left;
}
.time-robot{
  text-align: right;
}
.chat-messages-container{
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.welcome-center {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  color: #666;
  pointer-events: none;
}
.app-container{
  max-width: 600px;
  margin: 0px auto;
  min-width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative; 
}
body{
  margin: 0px;
}
